<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clusterman</title>
    <link rel="stylesheet" href="/static/jquery.terminal.css">
</head>
<body>
<script type="text/javascript" src="/static/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/static/jquery.terminal-0.8.8.min.js"></script>
<script type="text/javascript">
    $("body").terminal(function(command, term) {
        term.pause();
        $.get("/api", {
            command: command
        }, function(data) {
            term.resume();
            term.echo(data.output);
        }).fail(function() {
            term.resume();
            term.echo("Error: Connection to clusterman lost.");
        });
    }, {
        prompt: '>',
        name: 'clusterman',
        greetings: 'Welcome to clusterman web console!\nNodes in the cluster: {{ connected_nodes }}\nType a command to execute on the cluster.\n',
        onBlur: function() {
            return false;
        }
    });
</script>
</body>
</html>